html{
		scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	overflow-x:hidden;
	background-color: white;

}
.heading{
	display: block;
	padding: 20px;
	margin: 0px;
	color: #B22222;
	font-size: 40px;
	margin-top: 22px;
	
}
/*nav-bar*/
#nav-bar{
	background-color: #3fa37e;
	margin: 0px;
	height: auto;
  	width: 100%;
  	padding: 10px;
	z-index: 1;

  	position: fixed;
  	top: 0;
  	display: block;
  	transition: top 0.5s;

}
#nav-bar a{
	float: left;
	display: inline-flex;
	font-size: 22px;
	text-align: center;
	padding: 14px 16px;	
	text-decoration: none;
	color:white;
}
#nav-bar a:hover{
	background-color: #44ce9a;
	border-radius: 4px;
	color: white;
}
/*image-card*/
#image-card img{
	margin-top: 6%;
	margin-bottom: 16px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}
#image-card{
	margin-top: 50px;
	font-size: 29px;
	color: blue;
}
/*social*/
.social-top a{
	padding: 10px 10px 10px 10px;
	color: blue;
	display: inline-block;
	background-color: none;
	border-radius: 100%;
}
.social-bottom .social-link:hover{
	box-shadow: 0 0 50px white; 	
}
.social-bottom a{
	padding: 10px 10px 10px 10px;
	color: white;
	display: inline-block;
	background-color: none;
	border-radius: 100%;
}
.social-top .social-link:hover{
	box-shadow: 0 0 50px blue; 	
}
/*home*/
#home p{
	padding: 25px;
	color: gray;
	font-size: 24px;
	text-align: center;
	margin: 5% 20% 8% 20%;
}
#home p span{
	color: blue;
}

/*education*/
.education{
	font-size: 26px;
	padding: 10px;
}

.education .sub-heading{
	margin: 0 10% 5px 15%;
	display: block;
	padding: 5px 10px 5px 20px;
	border-radius: 50px;
}

.education .sub-heading h3{
	color: red;
	margin-bottom: 10px;
}
/*contact*/
