h3{
	color: red;
}
.header{
	text-align: center;	
	padding: 10px;
	background-color:#909090;
	/*top: 0;
	position: sticky;
	overflow: hidden;
*/
}
.social-link{
	padding: 5px 8px 5px 8px;
	
	color: blue;
	display:inline-block;
}

.social-link:hover{
	color: purple;
}
.heading{
	color: #B22222;
}

.skills li{
	list-style-type: none;
	position: center;
	color: blue;
	padding: 20px;
	display: inline-block;
}
.skills li:hover{
	background-color: #4CAF50;

}









.footer{
	background-color: gray;
	color: white;
}